<div class="background-image">
  <div class="container py-5"> 


    <!-- Header con logo -->
    <div class="d-flex align-items-center bg-custom-header p-3 rounded">

      <img
        src="assets/logo.png" 
        alt="Logo Catálogo"
        style="max-height: 10vh; width: auto; object-fit: contain; margin-right: 20px;"
        onerror="this.onerror=null;this.src='https://via.placeholder.com/80';"
      >
      <h1 class="m-0">Catálogo de Películas</h1>
    </div>

    <!-- Descripción -->
    <div class="bg-dark-blue-2 p-4 rounded mt-3">
      <p>
        Bienvenido al catálogo de películas. Aquí encontrarás una colección organizada por género, año y calificación. Descubre clásicos del cine, novedades y tus películas favoritas, todo en un solo lugar.
      </p>
    </div>

    <!-- Botón de navegación -->
    <div class="text-center my-4">
      <a routerLink="/movies" class="btn btn-primary">Ver Catálogo de Películas</a>
    </div>


    <!-- Footer -->
    <footer class="bg-dark text-white mt-4 p-3 rounded">
      <p>Materia: Conceptualización de entornos de desarrollo de aplicaciones y servicios</p>
      <p>Nombre: Julia Marisol Chan chi</p>
      <p>Código: 223983931 </p>
      <p>Correo: julia.chan23b@udgvirtual.udg.mx</p>
    </footer>

  </div>
</div>
